*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg, #c8e7ff, #e6d8ff);
}

.calculator{
  width:330px;
  padding:20px;
  border-radius:20px;
  backdrop-filter:blur(12px);
  background:rgba(255,255,255,0.25);
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.display{
  width:100%;
  height:70px;
  background:rgba(0,0,0,0.8);
  color:#fff;
  border-radius:10px;
  margin-bottom:15px;
  font-size:2rem;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:0 15px;
}

.buttons{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
}

.btn{
  padding:20px;
  border:none;
  font-size:1.2rem;
  border-radius:12px;
  background:rgba(255,255,255,0.6);
  cursor:pointer;
  transition:0.2s;
}

.btn:hover{
  background:#fff;
  transform:translateY(-2px);
}

.operator{
  background:#ffd5fe;
}

.operator:hover{
  background:#ffbdfc;
}

.equal{
  background:#aaffc9;
}

.equal:hover{
  background:#8affba;
}

.zero{
  grid-column:span 2;
}
